In [1]:
import pandas as pd

import IPython
import pprint as pp

In [2]:
mergedMIMIC = pd.read_csv('../Dataset/Merged_MIMIC.csv')
IPython.display.display(mergedMIMIC.head())
print mergedMIMIC.shape
print mergedMIMIC.iloc[0, 6]
print mergedMIMIC['ISERROR'].value_counts()

,SUBJECT_ID,HADM_ID,ISERROR,TEXT,ICD9_CODE,ICD9_Classes,class_labels
0,29075,179159.0,NaN,"67M w/ h/o multiplemyeloma Dx [**2111**], neur...",5789,9,"[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, ..."
1,18082,181163.0,NaN,"[**Age over 90 52**]F with COPD on home O2, CA...",59010,10,"[1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, ..."
2,28742,185325.0,NaN,73 y/o female with breast cancer metastatic to...,27652,3,"[0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,31608,152365.0,NaN,"TITLE:\n Respiratory failure, acute (not ARD...",51881,8,"[0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,29076,193948.0,NaN,"Respiratory failure, acute (not ARDS/[**Doctor...",51881,8,"[0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."

(9070, 7)
[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0]
1.0    9
Name: ISERROR, dtype: int64

In [4]:
preprocessedMIMIC = pd.read_csv('../Dataset/Preprocessed_MIMIC.csv')
IPython.display.display(preprocessedMIMIC.head())
print preprocessedMIMIC.shape
print preprocessedMIMIC.iloc[0, 6]
print preprocessedMIMIC['ISERROR'].value_counts()
IPython.display.display(preprocessedMIMIC.loc[preprocessedMIMIC['ISERROR'] == 1.0])

,SUBJECT_ID,HADM_ID,ISERROR,TEXT,ICD9_CODE,ICD9_Classes,class_labels,PREPROCESSED_TEXT
0,29075,179159.0,NaN,67m w ho multiplemyeloma dx 2111 neuropathy be...,5789,9,"[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, ...",67m w ho multiplemyeloma dx 2111 neuropathy be...
1,18082,181163.0,NaN,age 90 52f copd home o2 cad recurrent aspirati...,59010,10,"[1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, ...",age 90 52f copd home o2 cad recurrent aspirati...
2,28742,185325.0,NaN,73 yo female breast cancer metastatic liverlun...,27652,3,"[0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",73 yo female breast cancer metastatic liverlun...
3,31608,152365.0,NaN,title respiratory failure acute ardsdoctor las...,51881,8,"[0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",title respiratory failure acute ardsdoctor las...
4,29076,193948.0,NaN,respiratory failure acute ardsdoctor last name...,51881,8,"[0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...",respiratory failure acute ardsdoctor last name...

(9070, 8)
[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0]
1.0    9
Name: ISERROR, dtype: int64

,SUBJECT_ID,HADM_ID,ISERROR,TEXT,ICD9_CODE,ICD9_Classes,class_labels,PREPROCESSED_TEXT
395,30553,179048.0,1.0,protected section error protected section erro...,4241,7,"[0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",protected section error protected section erro...
2102,32810,189751.0,1.0,fever hyperthermia pyrexia fever unknown origi...,85186,19,"[0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, ...",fever hyperthermia pyrexia fever unknown origi...
2411,32181,154571.0,1.0,74 year old male ha pmh ulcersgastritis erosio...,99859,19,"[1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, ...",74 year old male ha pmh ulcersgastritis erosio...
4673,44908,173941.0,1.0,pt 60yo male complains episode unresponsivenes...,41511,7,"[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...",pt 60yo male complains episode unresponsivenes...
5123,89232,107734.0,1.0,chief complaint persistent hypoglycemia hypert...,40300,7,"[0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",chief complaint persistent hypoglycemia hypert...
5988,45410,197584.0,1.0,protected section protected section error ente...,9975,19,"[0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, ...",protected section protected section error ente...
6632,98604,102658.0,1.0,44yo f ho sickle cell disease breast ca admitt...,28262,4,"[0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",44yo f ho sickle cell disease breast ca admitt...
7765,99819,126883.0,1.0,valve replacement aortic bioprosthetic avr ass...,4241,7,"[0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",valve replacement aortic bioprosthetic avr ass...
7876,68647,186958.0,1.0,ho aortic dissection assessment pt discussion ...,44101,7,"[0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, ...",ho aortic dissection assessment pt discussion ...

In [5]:
embeddingMIMIC_500 = pd.read_csv('../Dataset/MIMIC_EMBEDDING_500.csv', header=None)
IPython.display.display(embeddingMIMIC_500.head())
print embeddingMIMIC_500.shape
print embeddingMIMIC_500.iloc[0, 500]

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,-0.103543,-0.012502,-0.424144,0.212219,0.019946,-0.375629,-0.234059,-0.685255,0.258941,0.066841,...,0.203807,0.238108,0.207160,-0.141817,0.050257,-0.183560,0.330741,0.009931,-0.379063,"[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, ..."
1,-0.160384,-0.220788,-0.103112,0.242240,-0.284538,-0.334619,-0.097042,-0.002679,0.130309,-0.069282,...,0.213276,-0.086477,-0.167185,-0.465966,0.055130,-0.012835,0.147294,0.071352,0.074858,"[1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, ..."
2,-0.082104,-0.163777,-0.217164,-0.097709,-0.105277,-0.186383,-0.063181,-0.321840,0.113866,-0.023926,...,0.317707,-0.079929,-0.119824,-0.194287,0.022348,-0.106097,0.212797,0.249908,-0.119827,"[0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,-0.030222,0.312208,-0.166403,0.195136,-0.018125,-0.098916,0.098599,0.009624,-0.203354,0.219677,...,0.535848,0.167292,-0.248854,-0.178905,0.070832,0.151681,0.192916,0.001420,0.057674,"[0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,-0.219272,-0.124820,0.116468,-0.095367,0.025796,0.033337,0.008354,-0.271081,-0.196097,-0.033097,...,0.349481,0.241827,-0.061761,-0.478814,0.279882,0.020531,-0.077272,-0.066161,0.236716,"[0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."

(9070, 501)
[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0]

In [6]:
embeddingMIMIC_1000 = pd.read_csv('../Dataset/MIMIC_EMBEDDING_1000.csv', header=None)
IPython.display.display(embeddingMIMIC_1000.head())
print embeddingMIMIC_1000.shape
print embeddingMIMIC_1000.iloc[0, 1000]

,0,1,2,3,4,5,6,7,8,9,...,991,992,993,994,995,996,997,998,999,1000
0,-0.233078,0.000059,0.139688,-0.020598,-0.093930,-0.533987,-0.405496,-0.814608,0.329403,0.053535,...,-0.328284,0.673627,0.149490,-0.556741,0.245821,0.204426,-0.100343,0.271253,0.219237,"[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, ..."
1,-0.127616,0.304769,-0.176857,0.102086,-0.258765,-0.285830,0.232638,0.151294,-0.020478,-0.235782,...,0.190140,0.104561,0.012538,-0.520007,-0.281434,-0.406798,-0.180232,-0.090346,0.361563,"[1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, ..."
2,-0.107864,-0.083938,-0.205035,-0.023672,-0.292592,-0.205047,0.009431,-0.391853,-0.045808,-0.271680,...,0.150131,0.492541,0.027230,-0.286698,0.369664,0.065249,-0.323563,0.625736,0.148084,"[0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,-0.107762,0.383690,-0.219993,0.329083,0.030215,-0.062234,0.425490,-0.346945,-0.509145,0.094985,...,-0.496814,-0.426172,0.127881,0.199794,0.284368,0.152260,-0.299348,0.802058,0.502197,"[0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,-0.403024,-0.044253,0.500976,0.112174,0.292022,-0.123792,-0.002551,-0.398680,-0.346838,-0.286207,...,-0.249512,-0.234318,0.321332,0.829054,0.095602,0.182005,0.526807,0.466212,0.310497,"[0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."

(9070, 1001)
[1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0]

In [ ]:
tf_idfMIMIC = pd.read_csv('../Dataset/MIMIC_TFIDF.csv', header=None)
IPython.display.display(tf_idfMIMIC.head())
print tf_idfMIMIC.shape